# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Cached Models
model_cache/

# Environment Variables
.env

# OS
Thumbs.db
.DS_Store

# Streamlit
.streamlit/

# SQLite Database
*.db

# Installer
python-3.12.3-amd64.exe
